# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
sdist/
var/
wheels/
share/python-wheels/
MANIFEST
*.manifest

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.venv/

# Custom
# path
extension/
working/
career/
wip/
.ipynb_checkpoints/
.idea/
python/debug/
java/oraclejdk/
.vscode

# file
temp.md
journal.md
inspirational.md

# temp
.DS_Store
~$*.xlsx
*.swp
